.lodging__tags-container {
    display: flex;
    margin-bottom: 24px;
    gap: 10px;
}

.lodging__tag {
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 10px;
    width: 100px;
    height: 30px;
    padding-top: 8px;

    @include media-query($desktop-width) {
        font-size: 14px;
        width: 150px;
        padding-top: 5px;
    }
}
