.wrapper {
    flex: 1;
    max-width: 1240px;
    margin: auto;
    width: 90vw;
}

.home__lodging {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @include media-query($desktop-width) {
        background: #f6f6f6;
        border-radius: 25px;
        padding-top: 56px;
        padding-bottom: 43px;
        max-width: 1240px;
        margin: auto;
        margin-top: 43px;
        gap: 60px;
    }
}
