.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 27px 5%;

    @include media-query($desktop-width) {
        @include margin-center();
        padding: 45px 0;
        margin: auto;
        max-width: 1240px;
    }

    &__logo {
        width: 145px;
        height: 47px;
    }

    &__nav {
        display: flex;
        gap: 26px;

        @include media-query($tablet-width) {
            gap: 57px;
        }
    }

    &__link {
        color: $primary-color;
        font-size: 12px;
        &:hover {
            text-decoration: underline;
        }

        @include media-query($tablet-width) {
            font-size: 24px;
        }
    }
}
