.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 27px 0;

    @include media-query($desktop-width) {
        @include margin-center();
    }

    &__logo {
        width: 145px;
        height: 47px;
    }

    &__nav {
        display: flex;
        gap: 26px;

        @include media-query($tablet-width) {
            gap: 57px;
        }
    }

    &__link {
        color: $primary-color;
        font-size: 12px;

        &--active {
            text-decoration: underline;
        }
        &:hover {
            text-decoration: underline;
        }

        @include media-query($tablet-width) {
            font-size: 24px;
        }
    }
}
