* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: auto;
}

.banner {
  position: relative;
  height: 111px;
  border-radius: 10px;
  margin-bottom: 22px;
  padding: 25px 0 32px 16px;
  background-size: 155%;
  background-position-y: center;
  background-position-x: center;
}
@media screen and (min-width: 600px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
    height: 223px;
    background-size: cover;
  }
}
@media screen and (min-width: 950px) {
  .banner {
    margin: auto;
  }
}
.banner__filter {
  position: absolute;
  background: black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
}
.banner__title {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 24px;
  width: 217px;
  font-weight: 500;
}
@media screen and (min-width: 600px) {
  .banner__title {
    font-size: 48px;
    width: auto;
  }
}

.home__lodging__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  width: 100%;
  height: 255px;
  border-radius: 10px;
}
@media screen and (min-width: 950px) {
  .home__lodging__card {
    width: 340px;
    height: 340px;
  }
}
.home__lodging__card-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(251, 235, 235, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.home__lodging__card-title {
  position: relative;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 15px;
  font-weight: 500;
}

.collapsible {
  overflow: hidden;
  max-width: 1023px;
}
@media screen and (min-width: 950px) {
  .collapsible {
    margin: auto;
  }
}
.collapsible__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #ff6060;
  border-radius: 5px;
  padding: 10px;
  z-index: 2;
}
.collapsible__title {
  color: white;
  font-size: 13px;
  font-weight: 500;
}
@media screen and (min-width: 950px) {
  .collapsible__title {
    font-size: 24px;
  }
}
.collapsible__btn {
  background: none;
  border: none;
  cursor: pointer;
}
.collapsible__btn--open {
  transform: rotate(-180deg);
  transition: all 0.5s ease-in-out;
}
.collapsible__btn--closed {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.collapsible__content {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #ff6060;
}
@media screen and (min-width: 950px) {
  .collapsible__content {
    font-size: 18px;
  }
}
.collapsible__content--open {
  height: 180px;
  transition: all 0.5s ease-in-out;
  transform: translateY(0px);
  background: #f6f6f6;
  border-radius: 5px;
}
@media screen and (min-width: 600px) {
  .collapsible__content--open {
    height: 210px;
  }
}
.collapsible__content--closed {
  height: 0px;
  transform: translateY(-210px);
  transition: all 0.5s ease-in-out;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel__img {
  border-radius: 10px;
  width: 100%;
  height: 255px;
  object-fit: cover;
}
@media screen and (min-width: 600px) {
  .carousel__img {
    height: 415px;
  }
}
.carousel__right-btn {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 950px) {
  .carousel__right-btn {
    width: 96px;
    height: 120px;
    top: calc(50% - 50px);
  }
}
.carousel__left-btn {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 950px) {
  .carousel__left-btn {
    width: 96px;
    height: 120px;
    top: calc(50% - 50px);
  }
}
.carousel__numbering {
  position: absolute;
  bottom: 25px;
  left: calc(50% - 12px);
  color: white;
}

.lodging__tags-container {
  display: flex;
  margin-bottom: 24px;
  gap: 10px;
}

.lodging__tag {
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  text-align: center;
  font-size: 10px;
  width: 100px;
  height: 30px;
  padding-top: 8px;
}
@media screen and (min-width: 950px) {
  .lodging__tag {
    font-size: 14px;
    width: 150px;
    padding-top: 5px;
  }
}

.lodging__rating {
  width: 13px;
  height: 13px;
}
@media screen and (min-width: 950px) {
  .lodging__rating {
    transform: scale(2);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 27px 0;
}
@media screen and (min-width: 950px) {
  .header {
    margin-left: auto;
    margin-right: auto;
  }
}
.header__logo {
  width: 145px;
  height: 47px;
}
.header__nav {
  display: flex;
  gap: 26px;
}
@media screen and (min-width: 600px) {
  .header__nav {
    gap: 57px;
  }
}
.header__link {
  color: #ff6060;
  font-size: 12px;
}
.header__link--active {
  text-decoration: underline;
}
.header__link:hover {
  text-decoration: underline;
}
@media screen and (min-width: 600px) {
  .header__link {
    font-size: 24px;
  }
}

.wrapper {
  flex: 1;
  max-width: 1240px;
  margin: auto;
  width: 90vw;
}

.home__lodging {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 950px) {
  .home__lodging {
    background: #f6f6f6;
    border-radius: 25px;
    padding-top: 56px;
    padding-bottom: 43px;
    max-width: 1240px;
    margin: auto;
    margin-top: 43px;
    gap: 60px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  gap: 14px;
  margin-top: 27px;
  padding-top: 66px;
  padding-bottom: 29px;
}
@media screen and (min-width: 600px) {
  .footer {
    gap: 28px;
    margin-top: 50px;
  }
}
.footer__logo-white {
  width: 122px;
  height: 40px;
}
.footer__copyright {
  color: white;
  font-size: 12px;
  width: 133px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .footer__copyright {
    font-size: 24px;
    width: auto;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  margin-top: 85px;
  margin-bottom: 85px;
  gap: 113px;
}
.error__title {
  font-size: 96px;
}
@media screen and (min-width: 600px) {
  .error__title {
    font-size: 130px;
  }
}
@media screen and (min-width: 950px) {
  .error__title {
    font-size: 288px;
  }
}
.error__subtitle {
  text-align: center;
  font-size: 18px;
  width: 260px;
}
@media screen and (min-width: 950px) {
  .error__subtitle {
    width: auto;
    font-size: 36px;
  }
}
.error__link {
  text-decoration: underline;
  font-size: 14px;
  color: #ff6060;
}
@media screen and (min-width: 950px) {
  .error__link {
    font-size: 18px;
  }
}

.about__collapsibles-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.about__banner {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 10px;
}

.lodging__title {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media screen and (min-width: 950px) {
  .lodging__title {
    font-size: 30px;
    margin-top: 30px;
  }
}
.lodging__location {
  color: #ff6060;
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (min-width: 950px) {
  .lodging__location {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.lodging__host {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lodging__host__name {
  color: #ff6060;
  font-size: 12px;
}
@media screen and (min-width: 950px) {
  .lodging__host__name {
    font-size: 18px;
  }
}
.lodging__host__img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 950px) {
  .lodging__host__img {
    width: 64px;
    height: 64px;
  }
}
.lodging__flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
@media screen and (min-width: 950px) {
  .lodging__flex {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
  }
}
@media screen and (min-width: 950px) {
  .lodging__desktop {
    display: flex;
    justify-content: space-between;
  }
}
.lodging__rates-container {
  display: flex;
  gap: 5px;
  width: 100px;
}
@media screen and (min-width: 950px) {
  .lodging__rates-container {
    justify-content: space-between;
    width: 160px;
    margin-bottom: 24px;
  }
}
.lodging__collapsibles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 950px) {
  .lodging__collapsibles-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 950px) {
  .lodging__collapsible-left {
    width: 50%;
  }
}
@media screen and (min-width: 950px) {
  .lodging__collapsible-right {
    width: 50%;
  }
}

/*# sourceMappingURL=index.css.map */
